.Items {
    margin-left: auto;
    grid-column-gap: 20px;
    display: grid;
    grid-auto-flow: column;
    padding-right: 1%;
}

.Mainbar {
    background-color: #BABFD1;
    height: 30px;
    display: flex;
    padding: 10px;

}

a:link {
    text-decoration: none;
    color: #607196;
}

a:visited {
    text-decoration: underline;
    color: #607196;
}

a:hover {
    text-decoration: underline;
    color: #E8E9ED;
}

a:active {
    text-decoration: underline;
}